@import url("./visuals/fish/fish.css");
@import url("./visuals/shapes/shapes.css");
@import url("./visuals/fontawesome-free-6.2.1-web/css/all.css");
body {
  font-family: sans-serif, Helvetica, Arial;
  margin: 0 50px;
  background-color: rgb(227, 210, 216);
  color: rgb(80, 9, 35);
}

body a {
  color: rgb(80, 9, 35);
}

.dark {
  background-color: rgb(20, 12, 15);
  color: lightyellow;
}
.dark a {
  background-color: rgb(20, 12, 15);
  color: lightyellow;
}

header {
  margin-bottom: 10px;
  margin-top: 20px;
  color: rgb(201, 48, 124);
  margin: auto;
  text-align: left;
  font-size: 20px;
}
.head {
  margin: auto;
  margin-left: 0px;
  /* margin-top: 5px; */
  /* margin-bottom: 6px; */
  height: 35px;
}
.flex-container {
  display: flex;
}

.flex-container > div {
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  justify-content: space-between;
}
.navigation {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.navigation a.icon {
  display: none;
}

.navigation .selected {
  text-decoration: none;
  color: hotpink;
}
.navigation a {
  margin: 5px;
  width: 150px;
  text-align: center;
  background-color: rgba(120, 6, 27, 0.66);
  border-radius: 30px;
  /* float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  */
  font-size: 20px;
}

.navigation a:link {
  color: white;
}

.navigation a:visited {
  color: white;
}

.navigation a:hover {
  color: hotpink;
  cursor: pointer;
}
.navigation a.selected {
  color: hotpink;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navigation a {
    display: none;
  }
  .navigation a.icon {
    /* width: 20px; */
    /* height: 20px; */
    /* margin: 5px; */
    /* background-color: #cfcccc; */
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navigation.responsive {
    background-color: rgba(72, 7, 32, 0.338);
    float: right;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 50px;
    border-radius: 15%;
    /* justify-content: flex-start; */
  }
  .navigation.responsive a {
    /* height: 20px; */
    /* width: 100px; */
    /* display: flex; */
    display: block;
    text-align: center;
    /* flex-direction: column; */
    /* justify-content: space-around; */
  }
}

a:hover {
  color: hotpink;
  cursor: pointer;
}

h1 {
  margin: auto;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 6px;
  color: rgb(201, 48, 124);
  font-size: 20px;
}

h3 {
  float: center;
  color: salmon;
}

/* section {
  background-color: rgb(183, 173, 230);
  color: red;
} */

ul {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  display: block;
  flex-direction: row;
  margin: 0px;
  border: red;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-text {
  width: 800px;
}
.info-content {
  display: flex;
  float: left;
  width: auto;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.porfolio-img {
  width: 25%;
  height: auto;
  border-radius: 10%;
}
.resume-download {
  background-color: rgba(139, 109, 113, 0.66);
  border-radius: 10rem;
  display: block;
  width: 150px;
  font-size: 20px;
  margin: 0;
  position: relative;
  line-height: 50px;
  text-align: center;
}
.album-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.album-info {
  width: 300px;
  background-color: black;
  background: fixed;
  height: auto;
}

.project-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-info {
  background-color: black;
  background: fixed;
  height: auto;
}

.project-info img {
  width: 200px;
  height: 200px;
  border-radius: 25%;
}

.img-body {
  display: flex;
  float: center;
  flex-direction: space-around;
  flex-wrap: wrap;
}

.video-body {
  display: flex;
  float: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

button {
  background: black;
  border: none;
  color: white;
}

.container {
  width: 1200px;
  margin: 0px auto;
}
.toggle-theme {
  font-size: 40px;
  text-align: center;
  background-color: rgba(120, 6, 27, 0.66);
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 15%;
  right: 10px;
  top: 90%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(85, 12, 23, 0.692);
  color: #cfcccc;
  text-align: center;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}
