.fish {
  z-index: 1;
  color: rgb(100, 100, 209);
  text-align: center;
  /*   background: rgb(255,255,255,0.2); */
  width: 50px;
  height: 30px;
  position: absolute;
  transition-property: top, left;
  transition-duration: 4000ms;
  top: 40%;
  left: 10%;
  font-size: 50px;
}

.fish:nth-child(1) {
  color: rgb(233, 68, 90);
}
.fish:nth-child(2) {
  color: rgb(248, 143, 138);
}
.fish:nth-child(3) {
  color: rgb(236, 104, 125);
}
.fish:nth-child(4) {
  color: rgb(209, 115, 132);
}
.fish:nth-child(5) {
  color: rgb(249, 202, 210);
}
